# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static/
media/

# Environments
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Virtual Environment (if you use virtualenv)
venv/
env/
ENV/
.venv/
