annotated-types
anyio
asgiref
beautifulsoup4
boto3
botocore
cachetools
certifi
charset-normalizer
click
distro
Django
docker
docstring_parser
durationpy
exceptiongroup
fastapi
gitdb
GitPython
google-auth
groq
h11
httpcore
httpx
idna
iniconfig
jiter
jmespath
kubernetes
markdown-it-py
mdurl
mypy
mypy-extensions
numpy
oauthlib
openai
packaging
pgvector
phidata
pluggy
psycopg
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygments
pytest
python-dateutil
python-dotenv
PyYAML
requests
requests-oauthlib
rich
rsa
ruff
s3transfer
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
starlette
tomli
tqdm
typer
types-PyYAML
typing_extensions
urllib3
uvicorn
websocket-client