absl-py
annotated-types
anyio
appnope
argon2-cffi
asgiref
astunparse
async-generator
Babel
backcall
bleach
cachetools
certifi
cffi
chardet
click
cycler
decorator
defusedxml
deprecation
distro
Django
entrypoints
flatbuffers
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
gunicorn
h11
h5py
httpcore
httpx
idna
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandocfilters
parso
pexpect
phidata
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pydantic-core
pydantic-settings
pydotplus
pygments
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-mnist
PyYAML
pyzmq
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
seaborn
Send2Trash
shellingham
six
sniffio
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tomli
tomlkit
tornado
typer
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
wrapt
groq
